In [37]:
import pyforest
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Restaurant_Reviews.tsv',sep='\t')

In [23]:
df

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [24]:
import re

In [25]:
import nltk

In [26]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\udayg\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [27]:
from nltk.corpus import stopwords

In [28]:
from nltk.stem.porter import PorterStemmer

In [29]:
ps = PorterStemmer()

In [33]:
review = df['Review'][0]
review = re.subn('[^a-zA-Z^]',' ',review)

tuple

In [38]:
review = review.lower()

AttributeError: 'tuple' object has no attribute 'lower'